@import "../../../assets/colors/colors";

.button {
  display: flex;
  justify-content: center;
  margin-top: 67px;
  margin-bottom: 124px;

  &__container {
    border: none;
    cursor: pointer;
    width: 260px;
    height: 62px;
    background: $color-blue;
    border-radius: 85px;
    color: $color-white;
    font-weight: 400;
    font-size: 18px;
  }
}