$color-white: #fff;
$color-primary: rgb(36, 37, 47);
$color-black-rgb: rgb(49, 51, 65);
$color-white-rgb:rgb(196, 210, 227);
$color-1D1D26FF:#1D1D26FF;
$color-EFF3FF: rgba(239, 243, 255, 0.71);
$color-blue:rgb(45, 118, 249);
$color-2B2D3AFF: rgb(86, 90, 110);
$color-9AA8BAFF:rgb(154, 168, 186)
